<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feyon.codeset.mapper.QuestionMapper">
    <resultMap id="resultMap" type="com.feyon.codeset.entity.Question">
        <id jdbcType="INTEGER" column="id" javaType="integer" property="id"/>
        <result jdbcType="INTEGER" column="question_number" javaType="integer" property="number"/>
        <result jdbcType="VARCHAR" column="title" javaType="string" property="title"/>
        <result jdbcType="INTEGER" column="difficulty" javaType="integer" property="difficulty"/>
    </resultMap>


    <insert id="insert" parameterType="com.feyon.codeset.entity.Question" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into `question`(question_number, title, difficulty)
        VALUES (#{number}, #{title}, #{difficulty});
    </insert>

    <delete id="deleteById" parameterType="integer">
        delete
        from `question`
        where id = #{id};
    </delete>

    <update id="update" parameterType="com.feyon.codeset.entity.Question">
        update `question`
        set
        <if test="number != null">
            question_number = #{number},
        </if>
        <if test="title != null">
            title = #{title},
        </if>
        <if test="difficulty != null">
            difficulty = #{difficulty}
        </if>
        where id = #{id};
    </update>

    <select id="findById" parameterType="integer" resultMap="resultMap">
        select *
        from `question`
        where id = #{id};
    </select>

    <select id="findAll" resultMap="resultMap">
        select *
        from `question`;
    </select>

    <select id="listAllByPage" resultMap="resultMap" parameterType="com.feyon.codeset.common.Pageable">
        select *
        from `question`
        limit #{limit} offset #{offset}
    </select>

    <select id="listAllForUser" resultType="integer">
        select question_id
        from `user_question`
        where user_id = #{userId}
          and status = #{status};
    </select>

    <select id="listAllForTag" resultType="integer">
        select question_id from `tag_question` where tag_id in
        <foreach collection="tagIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>

    <select id="containsTag" resultType="boolean">
        select count(*)
        from tag_question
        where question_id = #{questionId}
        and tag_id in
        <foreach collection="tagIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>

    <select id="holdStatus" resultType="boolean">
        select count(*)
        from user_question
        where question_id = #{questionId}
          and user_id = #{userId}
          and status = #{status};
    </select>

</mapper>