<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feyon.codeset.mapper.QuestionStatisticMapper">
    <resultMap id="resultMap" type="com.feyon.codeset.entity.QuestionStatistic">
        <id jdbcType="INTEGER" column="id" javaType="integer" property="id"/>
        <result jdbcType="BIGINT" column="solution" javaType="long" property="solution"/>
        <result jdbcType="BIGINT" column="success_submission" javaType="long" property="successSubmission"/>
        <result jdbcType="BIGINT" column="fail_submission" javaType="long" property="failSubmission"/>
    </resultMap>


    <insert id="insert" parameterType="com.feyon.codeset.entity.QuestionStatistic" useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        insert into `question_statistic`(id, solution, success_submission, fail_submission)
        VALUES (#{id}, #{solution}, #{successSubmission}, #{failSubmission});
    </insert>

    <delete id="deleteById" parameterType="integer">
        delete
        from `question_statistic`
        where id = #{id};
    </delete>

    <update id="update" parameterType="com.feyon.codeset.entity.QuestionStatistic">
        update `question_statistic`
        set
        <if test="solution != null">
            solution = #{solution},
        </if>
        <if test="successSubmission != null">
            success_submission = #{successSubmission},
        </if>
        <if test="failSubmission != null">
            fail_submission = #{failSubmission}
        </if>
        where id = #{id};
    </update>

    <select id="findById" parameterType="integer" resultMap="resultMap">
        select *
        from `question_statistic`
        where id = #{id};
    </select>

    <select id="findAll" resultMap="resultMap">
        select *
        from `question_statistic`;
    </select>

    <select id="findAllById" resultMap="resultMap">
        select * from question_statistic where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>
</mapper>