<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feyon.codeset.mapper.SubmissionMapper">
    <resultMap id="resultMap" type="com.feyon.codeset.entity.Submission">
        <id jdbcType="INTEGER" column="id" javaType="integer" property="id"/>
        <result jdbcType="TINYINT" column="result" javaType="integer" property="result"/>
        <result jdbcType="INTEGER" column="question_id" javaType="integer" property="questionId"/>
        <result jdbcType="INTEGER" column="user_id" javaType="integer" property="userId"/>
        <result jdbcType="INTEGER" column="time_cost" javaType="integer" property="timeCost"/>
        <result jdbcType="INTEGER" column="memory_cost" javaType="integer" property="memoryCost"/>
        <result jdbcType="INTEGER" column="language_id" javaType="integer" property="languageId"/>
        <result jdbcType="TIMESTAMP" column="create_at" javaType="java.time.LocalDateTime" property="createAt"/>
    </resultMap>

    <sql id="baseSql">

    </sql>

    <insert id="insert" parameterType="com.feyon.codeset.entity.Submission" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into `submission`(result, question_id, user_id, time_cost, memory_cost, language_id, create_at)
        VALUES (#{result}, #{questionId}, #{userId}, #{timeCost}, #{memoryCost}, #{languageId}, #{createAt});
    </insert>

    <delete id="deleteById" parameterType="integer">
        delete
        from `submission`
        where id = #{id};
    </delete>

    <update id="update" parameterType="com.feyon.codeset.entity.Submission">
        update `submission`
        set
        <if test="result != null">
            result = #{result},
        </if>
        <if test="questionId != null">
            question_id = #{questionId},
        </if>
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="timeCost != null">
            time_cost = #{timeCost},
        </if>
        <if test="memoryCost != null">
            memory_cost = #{memoryCost},
        </if>
        <if test="languageId != null">
            language_id = #{languageId}
        </if>
        where id = #{id};
    </update>

    <select id="findById" parameterType="integer" resultMap="resultMap">
        select *
        from `submission`
        where id = #{id};
    </select>

    <select id="findAll" resultMap="resultMap">
        select *
        from `submission`;
    </select>

    <select id="findAllById" resultMap="resultMap">
        select * from submission where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>

    <select id="findAllByExample" parameterType="com.feyon.codeset.entity.Submission" resultMap="resultMap">
        select *
        from submission
        <where>
            <if test="result != null">
                and result = #{result},
            </if>
            <if test="questionId != null">
                and question_id = #{questionId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="timeCost != null">
                and time_cost = #{timeCost}
            </if>
            <if test="memoryCost != null">
                and memory_cost = #{memoryCost}
            </if>
            <if test="languageId != null">
                and language_id = #{languageId}
            </if>
        </where>
    </select>

    <select id="findAllByUserIdAndQuestionIdList" resultMap="resultMap">
        select * from submission where user_id = #{userId} and question_id in
        <foreach collection="questionIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>

</mapper>